@import url('https://fonts.cdnfonts.com/css/abc-ginto-nord-unlicensed-trial');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  align-items: center;
  background-color: white;
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, #e4eceb 1px, transparent 1px),
    linear-gradient(to bottom, #f1f8f8 1px, transparent 1px)
}